NEXT_PUBLIC_GRAPHQL_ENDPOINT=http://localhost:4000/graphql
NEXT_PUBLIC_SOCKET_ENDPOINT=http://localhost:4000
NEXT_PUBLIC_API_BASE_URL=https://api.example.com
NEXT_PUBLIC_YOUTUBE_THUMB_URL=https://img.youtube.com